* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

body,
html {
  font-family: "Oswald", sans-serif;
}

.title p:first-child {
  font-size: 14px;
  font-weight: 300;
}

.title h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
}

/* start header */

header {
  padding: 26px 0;
  position: absolute;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
}

.logo i {
  font-size: 32px;
  color: white;
  margin-right: 10px;
}

.logo span {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 0 26px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: all 0.3s;
}

nav li a:hover {
  color: #e62b4a;
}

.active {
  color: #e62b4a;
}

.border-bottom {
  border-bottom: 0.01px solid rgba(255, 255, 255, 0.185);
  margin-top: 20px;
}

/* end header */

/* start banner */

.banner {
  background-image: url(./img/home_slider.jpg);
  height: 100vh;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__container {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.banner__container p {
  font-size: 25px;
}

.banner__container h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 90px;
}

.banner__container button {
  font-size: 16px;
  padding: 15px 25px;
  background-color: #e62b4a;
  border-color: #e62b4a;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.banner__container button:hover {
  background-color: #af2239;
}

.banner__container i {
  font-size: 30px;
  animation-name: animateArrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* end banner */

/* start carousel */

.carousel {
  background-color: black;
  padding: 50px 0;
  height: 100vh;
  min-height: 700px;
}

.carousel__title {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.carousel__title p:first-child {
  color: #e62b4a;
}

.carousel__title h2 {
  color: white;
}

.carousel__title p:last-child {
  color: #888888;
  font-weight: 700;
}

.carousel__item {
  padding: 0 10px;
}

.carousel__item .item__container {
  text-align: center;
  background-color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #848482;
  position: relative;
}

.carousel__item .item__container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #e62b4a;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all 0.3s;
}

.carousel__item .item__container:hover::before {
  transform: translateY(0px);
  /* height: 100%; */
}

.carousel__item i {
  font-size: 50px;
}

.carousel__item p {
  text-transform: uppercase;
}

.slick-dots li.slick-active button:before {
  color: red;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.4;
  font-size: 15px;
}

.slick-dots {
  bottom: -40px;
}

/* end carousel */

/* START BLOG */

.blog {
  background-color: #f3f3f3;
  padding: 50px 0;
}

.blog__title {
  text-align: center;
  margin-bottom: 20px;
}

.blog__title p {
  color: #888888;
}

.blog__title p:last-child {
  font-weight: 700;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.blog__list .blog__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
  transition: all 0.8s;
}

.blog__item:hover img {
  transform: scale(1.5);
}

.blog__item.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog__item.item-10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog__item {
  position: relative;
  overflow: hidden;
}

.blog__item .item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.705);
  opacity: 0;
  transition: all 0.3s;
  overflow: hidden;
}

.blog__item:hover .item__overlay {
  opacity: 1;
}

/* .overlay__search {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.blog__item:hover .overlay__search {
  top: 20px;
} */

.overlay__search {
  position: absolute;
  top: 20px;
  right: 20px;
}

.overlay__search:hover i {
  background-color: black;
  color: white;
}

.overlay__search a {
  text-decoration: none;
  color: black;
}

.overlay__search i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  color: black;
  transform: translateY(20px);
  transition: all 0.5s;
}

.blog__item:hover .overlay__search i {
  transform: translateY(0);
}

.overlay__title {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  transform: translateY(20px);
  text-transform: uppercase;
  transition: all 0.5s;
}

.blog__item:hover .overlay__title {
  transform: translateY(0);
}

.overlay__title p {
  color: #d0c7c8;
}

.overlay__title h3 {
  color: white;
}

/* END BLOG */

/* START NUMBER */

.number {
  padding: 50px 0;
  background: black;
  color: white;
  text-align: center;
}

.number__list {
  display: flex;
  justify-content: space-between;
}

.number__item {
  width: 100%;
}

.number__item h2 {
  font-size: 60px;
  font-weight: 300;
}

.number__item p {
  font-size: 20px;
  color: #888888;
}

/* END NUMBER */

/* START EXPERIENCE */

.experience {
  padding: 100px 0;
  text-align: center;
  background-image: url(./img/bussiness_img_1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.experience__title p:first-child {
  color: #e62b4a;
}

.experience__title h2 {
  color: white;
}

.experience__title p:last-child {
  color: #888888;
}

.experience__video video {
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 2px 10px 1px rgb(0, 0, 0, 0.5);
}

/* END EXPERIENCE */

/* START CONTACT */

.contact {
  padding: 100px 0;
  text-align: center;
}

.contact__title p {
  color: #888888;
}

.contact__content {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.contact__map {
  width: 60%;
}

.contact__map iframe {
  width: 100%;
}

.contact__form {
  width: 40%;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact__form input,
.contact__form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}

.btn-submit {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn-submit:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

/* END CONTACT */

/* START FOOTER */

footer {
  background-color: #000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.footer__content p {
  font-size: 14px;
  color: white;
}

.footer__content a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}

.footer__content a:hover {
  background-color: #e62b4a;
}

/* END FOOTER */

/* animation */

@keyframes animateArrow {
  from {
    transform: translateY(50px);
    opacity: 1;
  }
  to {
    transform: translateY(80px);
    opacity: 0;
  }
}

@keyframes animateDemo {
  0% {
    color: red;
    transform: translateY(0px) translateX(0px) rotate(0deg) scale(0.1);
  }
  50% {
    color: yellow;
    transform: translateY(100px) translateX(100px) rotate(180deg) scale(2);
  }
  100% {
    color: blue;
    transform: translateY(-100px) translateX(-100px) rotate(-180deg) scale(1);
  }
}
